@import './base.scss';

.chat-area {
  padding: 1em 0 240px;
  .q-message-text-content {
    textarea {
      width: 100%;
    }
  }
}

.bottom-toolbar {
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
}

.prompt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
  }
  .q-input {
    flex-basis: 100%;
    order: 1;
  }
  button {
    margin: 1em 0 0 0.5em;
    order: 2;
    height: 54px;
  }
  button.blue {
    background-color: #1976d2;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    padding: 5px 16px;
    height: 55px;
    i {
      display: none;
    }
  }
}

.signature-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  button {
    margin-left: 0.5em;
  }
}

.prompt .inner,
.signature .inner,
.message {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.signature .inner {
  justify-content: flex-end;
}

.q-file {
  opacity: 0;
  width: 0;
  height: 0;
}
.attachment-message {
  font-style: italic;
}
.edit-button {
  float: right;
}
.message {
  height: 50px;
  padding: 10px 0 0;
  text-align: center;
  background-color: white;
  &.error {
    color: red;
  }
  &.success {
    color: green;
  }
  p {
    font-size: 12px;
    animation: popIn 0.3s ease-in-out;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-pane {
  display: none;
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 999;
  align-items: center;
  justify-content: center;
  &.true {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
  }
}

.system-content {
  line-height: 1.4;
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  li {
    font-size: 1em;
  }

  a {
    font-size: 1em;
  }

  strong {
    font-size: 1em;
  }

  em {
    font-size: 1em;
  }

  code {
    font-size: 1em;
  }

  pre {
    font-size: 1em;
  }

  blockquote {
    font-size: 1em;
  }

  table {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .prompt {
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
    button {
      white-space: nowrap;
      margin-top: 0;
      &:first-child {
        order: 0;
      }
      &.blue {
        flex: 0;
        height: 54px;
      }
    }
    .q-input {
      order: auto;
      margin-right: 0.25em;
    }
  }
  .prompt .inner,
  .signature .inner {
    display: flex;
  }
}
