@import './base.scss';

.chat-area {
  padding: 1em 0 240px;
  .q-message-text-content {
    textarea {
      width: 100%;
    }
  }
}
.bottom-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.prompt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  &.true * {
    opacity: 0.5;
  }
  .q-input {
    flex-basis: 100%;
  }
  button {
    margin-left: 0.5em;
  }
  button.blue {
    background-color: #1976d2;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1.715em;
    padding: 6px 0;
    i {
      display: none;
    }
  }
}
.signature-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  button {
    margin-left: 0.5em;
  }
}

.prompt .inner,
.signature .inner,
.message {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.signature .inner {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .prompt .inner,
  .signature .inner {
    display: flex;
  }
}

.file-upload-area {
  opacity: 0;
  width: 0;
  height: 0;
}
.attachment-message {
  font-style: italic;
}
.edit-button {
  float: right;
}
.message {
  height: 50px;
  padding: 10px 0 0;
  text-align: center;
  background-color: white;
  &.error {
    color: red;
  }
  &.success {
    color: green;
  }
  p {
    font-size: 12px;
    animation: popIn 0.3s ease-in-out;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.system-content {
  line-height: 1.4;
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  li {
    font-size: 1em;
  }

  a {
    font-size: 1em;
  }

  strong {
    font-size: 1em;
  }

  em {
    font-size: 1em;
  }

  code {
    font-size: 1em;
  }

  pre {
    font-size: 1em;
  }

  blockquote {
    font-size: 1em;
  }

  table {
    font-size: 1em;
  }
}
.loading-pane {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  align-items: center;
  justify-content: center;
  &.true {
    display: flex;
  }
}
