@import './base.scss';

.chat-area {
  padding: 1em 0 240px;
  .q-message-text-content {
    textarea {
      width: 100%;
    }
  }
}
.bottom-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.prompt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  &.true * {
    opacity: 0.5;
  }
  .q-input {
    flex-basis: 100%;
    margin-right: 0.75em;
  }
  button.blue {
    background-color: #1976d2;
    color: white;
    border: none;
    outline: none;
    margin-left: 0.5em;
    cursor: pointer;
    i {
      display: none;
    }
  }
}
.signature {
  padding: 15px 0 15px;
  display: flex;
  width: 100%;
  background: white;
  box-shadow: 20px 5px 15px rgba(0, 0, 0, 0.4);
}

.prompt .inner,
.signature .inner,
.message {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.signature .inner {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .prompt .inner,
  .signature .inner {
    display: flex;
  }
}

.file-upload-area {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  &.file-exists {
    opacity: 1;
  }
}
.signature-line {
  height: 36px;
  display: flex;
  align-items: flex-end;
}
.edit-button {
  float: right;
}
.message {
  height: 50px;
  padding: 10px 0 0;
  text-align: center;
  &.error {
    color: red;
  }
  &.success {
    color: green;
  }
  p {
    font-size: 12px;
    animation: popIn 0.3s ease-in-out;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
