.chat-area {
  padding: 1em 0 80px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bubble-row {
  display: flex;
  justify-content: flex-start;
}
.bubble-row.user {
  justify-content: flex-end;
}
.bubble {
  border-radius: 10px;
  background-color: #e5e5ea;
  width: fit-content;
  max-width: 70%;
  padding: 5px 10px 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  animation: pop 0.5s ease-in-out;

  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.bubble cite {
  font-style: normal;
  font-size: 0.6em;
  text-transform: uppercase;
}
.bubble-row.assistant .bubble {
  background-color: #e5e5ea;
}
.bubble-row.user .bubble {
  background-color: #007aff;
  color: #fff;
}
.prompt {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 0 25px;
  width: 100%;
  background-color: white;
  box-shadow: 20px 5px 15px rgba(0, 0, 0, 0.4);
}
.prompt.true {
  background: linear-gradient(
    45deg,
    #e5e5ea 25%,
    transparent 25%,
    transparent 50%,
    #e5e5ea 50%,
    #e5e5ea 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
  animation: loading 2s linear infinite;

  @keyframes loading {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 0;
    }
  }
}
.prompt .inner {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.prompt input[type="text"] {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #f2f2f7;
  font-size: 14px;
  font-family: sans-serif;
  flex-basis: 90%;
  margin-right: 10px;
}

.prompt input[type="submit"] {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #007aff;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
}
