@import "./base.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 15px;
}
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
